# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# AWS credentials
.aws/
credentials
config

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
